.receipts-list {
  padding: 0;
  li { 
    width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    list-style-type: none;
    font-size: 1.2em;
    color: $light_blue;
    @include line-height(31)
  }
  .receipts-list-value{
    left: .5em;
    position: relative;
    font-weight: bold
   }
}