html { 
  font:normal normal 12px 'Roboto', Arial, Verdana, Tahoma,  Helvetica, sans-serif;
  background: $light_gray;
  color: $graphite;
 }
html, body, main { height: 100% }
main { 
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 { font-size: 2em }
h2 { font-size: 1.6em }
h3 { font-size: 1.2em }
h4 { font-size: 1em }
h5 { font-size: .8em }


/********************************************************************
    style for 767px screen
********************************************************************/
@media screen and (max-width: 767px) { 
  main { display: block }
}