#container {
  position: relative;
  display: flex;
  width: 610px ;
  min-height: 390px;
  @extend .paper;
}

.container-columns { box-sizing: border-box }

.container-form {
  padding: 27px 0 0 55px;
  width: 455px;
  @extend .container-columns;
}

#container-receipts {
  padding: 6.2em 0 0 3.2em;
  width: 286px;
  background: #f6f8f9; 
  font-style: italic;
  @extend .container-columns;
  .title-container-receipts {
    padding-bottom: 0.4em;
    width: 11em;
    text-transform: uppercase;
    font-size: 1.2em;
    color: $blue;
    border-bottom: 1px solid $blue_25;
  }
}


/********************************************************************
    style for 767px screen
********************************************************************/
@media screen and (max-width: 767px) { 
  .container { 
    display: block;
    width: auto ;
    min-height: auto;
  }
  .container-form {
    width: 100%;
    padding: 0 2em
  }
  .simulation-form { width: 100% }
  .container-receipts {
    text-align: center;
    padding: 0;
    width: 100%;
    .title-container-receipts { padding: 1.5em 0 .4em 0 }
  }
}
